.TotalPedido {
    width: 50%;
    height: auto;
    padding: 10px 15px;
    text-align: right;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(235, 228, 214);
    font-size: 80%;
    transition: all 0.3s ease-out;
}

.TotalPedido:hover {
    text-decoration: underline;
}
